* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 10px;
  background-color: black;
}

ul {
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

.flex-h2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

h2 {
  padding: 10px;
  margin: 0;
  border: 2px solid white;
  text-align: center;
  color: white;
  background-color: black;
}

.container-basic-info > div {
  border: 2px solid white;
  color: white;
  text-align: center;
  background-color: black;
}

h3 {
  margin: 0;
  font-size: 24px;
  padding: 10px 0 10px 10px;
  font-weight: bold;
}

.all-temp-boxes p {
  font-weight: bold;
}

.temperatures {
  border: 2px solid white;
  max-width: 960px;
  min-width: 600px;
  color: white;
  background-color: black;
}

.all-temp-boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

.temp-list {
  list-style: none;
}